body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
}

.card {
    border: 5px solid #4CAF50;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 320px;
    height: 240px; 
    border-radius: 10px; 
    margin-bottom: 15px; 
}

.card h1 {
    font-size: 2em;
    color: #4CAF50;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.5em;
    color: #333;
    margin: 0;
    line-height: 1.5;
}